body {font-family: sans-serif;}
img {max-width: 700px; max-height: 1000px;}
@media only screen and (max-width: 600px) {
    img {max-width: 100%;}
}
figure, figcaption {text-align: center;}
.do {color: green;}
.dont {color: darkred;}
.dodont {float:left; min-width: 50%; max-width: 50%;}
.clearboth {clear: both;}
